:root{
    --primary-color:#fff;
    --secondary-color:#333;
}
.dark-theme{
    --primary-color:#333;
    --secondary-color:#fff;
}

body{
    background-color: var(--primary-color);
}
img{
    width: 100px;
    position: absolute;
    top: 30%;
    left: 40%;
    cursor: pointer;
}